body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,77,152);
}

h2{
    font-size: 24px;
    color: white;
    letter-spacing: .5px;
}

p{
    font-size: 16px;
    color: white;
    text-align: justify;
    letter-spacing: 1px;
}

li {
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}

.menu-container{
    background-color: rgb(168,19,62);
    margin-top: -20px;
    padding: 1rem 0 0 0;

    position: fixed;
    z-index: 2;
    width: 100%;
    max-width: 1440px;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container a {
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure.logo{
    margin: 2.5px;
}

.logo img{
    width:240px;
    height:90px;
    margin: 0px;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: .5rem 1rem;
}

.navigation ul li a:hover{
    color: rgb(237,187,0);
}

.menu-icon{
    display: none;
}

/* pagina */

.Club {
    padding: 100px 40px 0 40px;
}


.Presidente-Entrenador {
    padding: 10px 40px;
}

#Presidente-Entrenador {
    margin-top: -150px;
    padding-top: 150px;
}

.Laporta {
    display: flex;
    justify-content: space-around;
}

.foto-laporta img {
    width: 300px;
}

.Koeman {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.foto-koeman img {
    width: 200px;
}

.Estadio {
    padding: 10px 40px;
}

#Estadio {
    margin-top: -150px;
    padding-top: 150px;
}

.camp-nou {
    display: flex;
    justify-content: space-around;
}

.foto-camp-nou img {
    width: 400px;
}

.Himno {
    padding: 10px 40px;
}

#Himno {
    margin-top: -150px;
    padding-top: 150px;
}

.Temporada {
    padding: 10px 40px;
}

#Temporada {
    margin-top: -150px;
    padding-top: 150px;
}

.plantilla-foto {
    float: right;
}

.plantilla-foto img {
    width: 700px;
    margin-top: 200px;
}

.Palmares {
    padding: 10px 40px;
}

#Palmares {
    margin-top: -150px;
    padding-top: 150px;
}

.trofeo-foto {
    float: right;
}

.trofeo-foto img {
    width: 600px;
    margin-top: 100px;
}


/* pagina general */

@media screen and (max-width: 1279px) {
h2{
    font-size: 22px;
}

p{
    font-size: 14px;
}

li {
    font-size: 14px;
    line-height: 26px;
}

.plantilla-foto img {
    width: 600px;
    margin-top: 180px;
}

.trofeo-foto img {
    width: 550px;
    margin-top: 80px;
}

}

@media screen and (max-width: 1023px) {

.logo img{
    width:220px;
    height:80px;
    margin-top: 10px;
    margin-left: -30px;
}

.navigation ul li a{
    padding: .5rem .8rem;
}

h2{
    font-size: 20px;
}

p{
    font-size: 12px;
}

li {
    font-size: 12px;
    line-height: 24px;
}

.plantilla-foto img {
    width: 400px;
    margin-top: 220px;
}

.trofeo-foto img {
    width: 400px;
    margin-top: 80px;
}

}

@media screen and (max-width: 799px) {
    
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-bottom: -5px;
}

.navigation{
    width: 100%;
    margin-top: 1rem;
}

.navigation ul{
    display: none;
}

.navigation ul.show{
    display: block;
}

.navigation ul li{
    display: block;
}

.navigation ul li a{
    display: block;
    padding: .4rem 0rem;
}

.menu-icon{
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

h2{
    font-size: 20px;
}

p{
    font-size: 11.5px;
}

li {
    font-size: 11.5px;
    line-height: 22px;
}

.logo img{
    width:200px;
    height:70px;
    margin-left: -40px;
}

.foto-laporta img {
    width: 250px;
}

.foto-koeman img {
    width: 190px;
}

.foto-camp-nou img {
    width: 380px;
}

}

@media screen and (max-width: 760px) {

.Laporta {
    display: initial;
}

.foto-laporta img {
    width: 300px;
    margin-left: -20px;
}

.Koeman {
    display: initial;
}

.foto-koeman img {
    width: 190px;
}

.camp-nou {
    display: initial;
}

.foto-camp-nou img {
    margin-left: -20px;
    width: 300px;
}

.plantilla-foto {
    float: none;
}

.plantilla-foto img {
    width: 300px;
    margin-top: 20px;
    margin-left: -20px;
}


.trofeo-foto {
    float: none;
}

.trofeo-foto img {
    width: 300px;
    margin-top: 20px;
    margin-left: -20px;
}

#Presidente-Entrenador {
    margin-top: -100px;
    padding-top: 100px;
}
#Estadio {
    margin-top: -100px;
    padding-top: 100px;
}
#Himno {
    margin-top: -100px;
    padding-top: 100px;
}
#Temporada {
    margin-top: -100px;
    padding-top: 100px;
}
#Palmares {
    margin-top: -100px;
    padding-top: 100px;
}


}

@media screen and (max-width: 424px) {

h2{
    font-size: 16px;
}

p{
    font-size: 11px;
}

li {
    font-size: 11px;
    line-height: 22px;
}

.foto-laporta img {
    width: 250px;
}

.foto-koeman img {
    width: 150px;
}

.foto-camp-nou img {
    margin-left: -20px;
    width: 250px;
}

.plantilla-foto img {
    width: 250px;
}

.trofeo-foto img {
    width: 250px;
}
}

@media screen and (max-width: 374px) {
.foto-laporta img {
        width: 220px;
    margin-left: -30px;
}

.foto-camp-nou img {
    margin-left: -30px;
    width: 220px;
}

.plantilla-foto img {
    width: 220px;
    margin-left: -30px;
}

.trofeo-foto img {
    width: 220px;
    margin-left: -30px;
}
}